.ledger-form-row {
  padding: 5px 0;
}

/*
 * Match the styling of the other input types
 */
input[type='date'] {
  background: var(--background-modifier-form-field);
  color: var(--text-normal);
  border: 1px solid var(--background-modifier-border);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border-radius: 4px;
  height: 30px;
  padding: 4px 14px;
}

/*
 * Display a currency icon to the left of the amount inputs
 */

.input-icon {
  position: relative;
  display: inline-block;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
  width: 100px;
}
