.ledger-form-row {
  padding: 5px 0;
}

/*
 * Match the styling of the other input types
 */
input[type='date'] {
  background: var(--background-modifier-form-field);
  color: var(--text-normal);
  border: 1px solid var(--background-modifier-border);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border-radius: 4px;
  height: 30px;
  padding: 4px 14px;
}

input.ledger-expense-category {
  width: 74%;
  display: inline-block;
}

.is-mobile input.ledger-expense-category {
  /* important required to override mobile stylesheet */
  width: 70% !important;
  display: inline-block !important;
}

.is-mobile input[type='number'] {
  padding: 8px 14px;
  height: auto;
  font-size: 17px;
}

.is-mobile button {
  margin: 5px 0;
}

input.ledger-expense-amount {
  width: 24%;
}

.input-icon {
  position: relative;
  display: inline-block;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  /* important required to override mobile stylesheet */
  padding-left: 25px !important;
  width: 100px;
}
